$primaryColor: #081e83;
$linkColor: #940d0d;
$lightBackground: #fff;
$greyBackgound: #cec9c9;
$headerBackgroud: #48a7be;
$errorMessage: #f10202;
$mandatoryField: $errorMessage;
$borderColor: #c1c1c1;
