@use 'base' as *;

header {
    background-color: #afbaed;
    height: 120px;
    margin-bottom: 30px;
}

.title {
    @include primaryFont($xLargeFont, $primaryColor, bold);

    display: block;
    padding-top: 20px;
}

.main-container {
    width: auto;
    margin: 0 auto;

    @media only screen and (min-width: $tabletMin) and (max-width: $tabletMax){
        width: auto;
    }

    @media only screen and (min-width: $desktopMin) {
        width: 1024px;
    }
}

.content {
    @include primaryFont($mediumFont, $secondaryColor);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;

    ul {
        padding: 0;
        margin: 0;
    }

    footer {
        grid-column: 1 / 5;
    }
}

.left-content {
    grid-column: auto;
}

.left-content {
    ul {
        list-style: none;
    }
}

.right-content {
    grid-column: 2 / 5;
}

footer {
    @include primaryFont($mediumFont, $primaryColor);

    li {
        color: $linkColor;
    }
}